:root {
    --black: #203633;
    --off-white: #ebf0f4;
    --green: #acdac1;
    --teal: #acd7cd;
    --blue: #bfe5eb;
    --pink: #f5ecf7;

    --transition-timing: cubic-bezier(.2, 0, .2, 1);
    --transition-timing-reverse: cubic-bezier(.8, 0, .8, 1);
}
