.container {
    height: 50px;
    background: linear-gradient(to right, var(--pink), var(--blue));
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 2rem;
    padding: 0;
    font-weight: 300;
}
