.container {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    border: 0;
    cursor: pointer;
    background: transparent;
}

.container:hover,
.container:focus {
    background: rgba(0, 0, 0, .1);
}

.container:focus {
    outline: 0;
}
