.container {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.container:hover,
.container:focus {
    background: var(--off-white);
}

.container:focus {
    outline: 0;
}
